
  @media (min-width: 1200px){
    .header__body{
        background: url(../image/back-header.png) 100% 100% repeat;
    }
    .header__back{
        background: url(../image/header-2.png) 100% 100% repeat;
    }
    .customer__body{
        background: url(../image/back-customer.png) 100% 100% repeat;
    }
    .customer__back{
        background: url(../image/header-2.png) 100% 100% repeat;
    }
}
@media (max-width: 1200px){
    .header__info{
        margin-top: 70px;
    }
    .header__video{
        min-width: 598px;
        min-height: 280px;
    }
    .info__block{
        margin: 0 20px 0 20px;
        max-width: 280px;
    }
    .customer__desc{
        top: 50px;
    }
    .customer__button{
        margin-top: 90px; 
    }
    .customer__bottom{
        display: none;
    }
    .customer__top{
        display: none;
    }
    .customer__box{
        top: 50px;
        margin-bottom: 60px;
    }
    .team__title{
        margin-top: 200px;
    }
    .team__body{
        min-height: 800px;
    }
}
@media (max-width: 992px){
    .header__link{
        margin: 0 15px 0 15px;
    }
    .info__block{
        margin: 0 15px 0 15px;
        max-width: 200px;
    }
    .boxs__info{
        text-align: center;
    }
    .service__block{
        width: 650px;
    }
    .service__hide{
        width: 650px;
    }
    .footer__about::before{
        display: none;
    }
    .footer__about{
        margin-left: 15px;
    }
    .footer__body{
        height: 150px;
    }
    .footer__image{
        margin-top: 20px;
    }
    .footer__item{
        margin-top: 33px;
    }
    .customer__info{
        width: 550px;
    }
}  