@charset "UTF-8";
.header__btn, .header__btn_white, .info__button, .customer__button, .contact__button {
  min-height: 55px;
  min-width: 150px;
  border-radius: 5px;
  font-size: 15px;
}

.boxs__content_left, .boxs__content_center_left, .boxs__content_center_right, .boxs__content_right {
  width: 25%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.hider:checked + label + div, .hide:checked + label + div, .hid:checked + label + div, .hi:checked + label + div, .h:checked + label + div {
  display: block;
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s;
}

.contact__first_name, .contact__last_name, .contact__email, .contact__phone {
  font-size: 14px;
  width: 280px;
  height: 50px;
  border: solid 1px #061e37;
  background-color: #fafafa;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
  color: #061e37;
  padding-left: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.conteiner {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header__body {
  width: 100%;
  height: 750px;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../image/back-header.png) 100% 100% no-repeat;
  background-size: auto auto;
}
.header__back {
  min-width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../image/header-2.png) 100% 100% no-repeat;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 45px;
}
.header__link {
  color: #fff;
  margin: 0 25px 0 25px;
  font-size: 15px;
}
.header__link:hover {
  color: #000;
  transition: 0.3s ease;
}
.header__logo {
  height: auto;
  width: 100%;
  max-width: 194px;
}
.header__button {
  min-width: 78px;
  min-height: 23px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
}
.header__button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.header__title {
  font-size: 55px;
  color: #fff;
  font-weight: bolder;
  max-width: 470px;
  line-height: 65px;
}
.header__text {
  font-size: 18px;
  color: #fff;
  max-width: 560px;
  line-height: 33px;
  margin-top: 12px;
}
.header__btn {
  background-color: #061e37;
  border: 1px solid #061e37;
  color: #fff;
  margin-right: 15px;
}
.header__btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #061e37;
  transition: 0.3s ease;
}
.header__btn_white {
  background-color: #fff;
  border: 1px solid #fff;
  color: #061e37;
  margin-left: 15px;
}
.header__btn_white:hover {
  background-color: #061e37;
  border: 1px solid #061e37;
  color: #fff;
  transition: 0.3s ease;
}
.header__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 195px;
}
.header__buttons {
  margin-top: 33px;
}
.header__video {
  min-width: 598px;
  min-height: 318px;
  border: 1px solid #000;
  border-radius: 6px;
  background: url(../image/back-video.png) 100% 100% no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
}
.header__ground {
  min-width: 100%;
  min-height: 100%;
  background: url(../image/video-2.png) 100% 100% no-repeat;
  background-size: 100% 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__play {
  height: 60px;
  width: 60px;
  background-color: #061e37;
  border-radius: 5px;
  position: relative;
}
.header__triagle {
  border: 8px solid transparent;
  border-left: 12px solid #fff;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -45%);
}
.header__watch {
  font-size: 12px;
  color: #061e37;
  font-weight: bold;
  margin-top: 22px;
}

.info__body {
  min-width: 100%;
  min-height: 800px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__title {
  color: #061e37;
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  margin-top: 97px;
}
.info__subtitle {
  color: #b0bec5;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin-top: 14px;
}
.info__text {
  color: #b0bec5;
  font-size: 15px;
  text-align: center;
  max-width: 540px;
  line-height: 20px;
  margin-top: 18px;
}
.info__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 102px;
}
.info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  margin: 0 40px 0 40px;
}
.info__heading {
  color: #061e37;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 35px;
}
.info__desc {
  color: #b0bec5;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  margin-top: 12px;
}
.info__button {
  background-color: #1de9b6;
  border: 1px solid #1de9b6;
  color: #fff;
  margin-left: 15px;
  margin-top: 75px;
}
.info__button:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #1de9b6;
  transition: 0.3s ease;
}

.boxs__body {
  width: 100%;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
}
.boxs__content_left {
  background-color: #80d8ff;
}
.boxs__content_center_left {
  background-color: #82b1ff;
}
.boxs__content_center_right {
  background-color: #b388ff;
}
.boxs__content_right {
  background-color: #ea80fc;
}
.boxs__image {
  margin: 0 25px 0 25px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__body {
  max-width: 100%;
  min-height: 870px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title {
  color: #061e37;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-top: 97px;
}
.service__subtitle {
  color: #b0bec5;
  font-size: 15px;
  text-align: center;
  max-width: 540px;
  line-height: 23px;
  margin-top: 20px;
}
.service__block {
  width: 800px;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service__triangle {
  border: 5px solid transparent;
  border-top: 5px solid #061e37;
}
.service__hide {
  max-width: 800px;
  min-height: 125px;
  margin-top: 28px;
}
.service__content {
  display: flex;
  flex-direction: row;
}
.service__box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  margin-top: 43px;
}
.service__name {
  margin-left: 25px;
  color: #061e37;
  font-size: 15px;
  font-weight: bold;
}
.service__hide__image {
  float: left;
  margin-right: 25px;
  width: 100%;
  height: auto;
  max-width: 250px;
}
.service__hide__text {
  position: relative;
  top: 2px;
  line-height: 25px;
  font-size: 15px;
  color: #061e37;
}
.service__hide__subtext {
  margin-top: 26px;
  line-height: 25px;
  font-size: 15px;
  color: #061e37;
}

.hider {
  display: none;
}

.hider + label ~ div {
  display: none;
}

.hide {
  display: none;
}

.hide + label ~ div {
  display: none;
}

.hid {
  display: none;
}

.hid + label ~ div {
  display: none;
}

.hi {
  display: none;
}

.hi + label ~ div {
  display: none;
}

.h {
  display: none;
}

.h + label ~ div {
  display: none;
}

@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.customer__body {
  width: 100%;
  height: 565px;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../image/back-customer.png) 100% 100% no-repeat;
  background-size: auto auto;
}
.customer__back {
  min-width: 100%;
  min-height: 100%;
  background: url(../image/header-2.png) 100% 100% no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.customer__title {
  color: #fff;
  font-size: 45px;
  width: 430px;
  line-height: 52px;
}
.customer__text {
  color: #fff;
  font-size: 15px;
  width: 520px;
  margin-top: 12px;
  line-height: 25px;
}
.customer__button {
  background-color: #061e37;
  border: 1px solid #061e37;
  color: #fff;
  margin-top: 204px;
}
.customer__button:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #061e37;
  transition: 0.3s ease;
}
.customer__desc {
  position: relative;
  top: 130px;
}
.customer__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  position: relative;
  top: 69px;
}
.customer__info {
  background-color: #fff;
  padding: 32px;
  width: 650px;
  height: 160px;
  border-radius: 5px;
}
.customer__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 50px;
}
.customer__name {
  color: #061e37;
  font-size: 18px;
  font-weight: bold;
}
.customer__description {
  color: #78909c;
  font-style: italic;
  font-size: 15px;
  line-height: 23px;
  margin-top: 13px;
}
.customer__bottom {
  margin-top: 6%;
  margin-left: 57%;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.customer__top {
  position: relative;
  top: 8%;
  margin-left: 56%;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.team__body {
  min-width: 100%;
  min-height: 760px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__title {
  font-size: 45px;
  color: #061e37;
  font-weight: bold;
  text-align: center;
  margin-top: 95px;
}
.team__subtitle {
  font-size: 15px;
  color: #b0bec5;
  text-align: center;
  max-width: 560px;
  line-height: 24px;
  margin-top: 18px;
}
.team__photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.team__side {
  min-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  margin: 0 25px 0 25px;
}
.team__center {
  min-height: 180px;
  max-width: 180px;
  border-radius: 50%;
  margin: 0 25px 0 25px;
  border: #fff solid 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.team__name {
  font-size: 18px;
  color: #061e37;
  font-weight: bold;
  text-align: center;
  margin-top: 58px;
}
.team__desc {
  font-size: 15px;
  color: #b0bec5;
  text-align: center;
  max-width: 630px;
  line-height: 24px;
  margin-top: 17px;
}
.team__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

.icon {
  margin-left: 25px;
}

.contact__body {
  min-width: 100%;
  min-height: 660px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__fieldset {
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 600px;
  margin-bottom: 20px;
}
.contact__button {
  background-color: #1de9b6;
  border: 1px solid #1de9b6;
  color: #fff;
  font-size: 16px;
  margin-top: 17px;
  outline: none;
}
.contact__button:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #1de9b6;
  transition: 0.3s ease;
}
.contact__form {
  min-width: 600px;
  margin-top: 26px;
}
.contact__message {
  resize: none;
  min-height: 150px;
  min-width: 600px;
  background-color: #fafafa;
  border: solid 1px #061e37;
  outline: none;
  padding: 20px 0 0 20px;
  font-size: 14px;
  border-radius: 5px;
}
.contact input::placeholder {
  color: #061e37;
}
.contact textarea::placeholder {
  color: #061e37;
  font-family: Arial, Helvetica, sans-serif;
}
.contact__buttom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact__title {
  font-size: 45px;
  color: #061e37;
  font-weight: bold;
  text-align: center;
  margin-top: 43px;
}
.contact__subtitle {
  font-size: 15px;
  color: #061e37;
  text-align: center;
  width: 560px;
  line-height: 25px;
  margin-top: 17px;
}
.contact__label {
  color: #061e37;
  font-size: 15px;
}
.contact__label:before {
  content: "";
  color: #061e37;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 15px;
  height: 15px;
  background: #fafafa;
  border: 2px solid #061e37;
  border-image: initial;
  vertical-align: middle;
}
.contact #checkbox {
  display: none;
}
.contact #checkbox:checked + .contact__label:before {
  content: "✓";
}
.contact #checkbox:disabled + .contact__label:before {
  background: #fafafa;
}
.contact__checkbox {
  margin-top: 12px;
}

.footer__body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 300px;
  background-color: #061e37;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__list {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin-top: 50px;
}
.footer__about {
  margin-left: 23px;
}
.footer__about:before {
  content: "●";
  color: #fff;
  margin-right: 22px;
}
.footer__link {
  color: #fff;
  margin-left: 50px;
  font-size: 15px;
}
.footer__link:hover {
  color: #000;
  transition: 0.3s ease;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-top: 55px;
}
.footer__image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 90px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 103px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
