$color-white: #fff;
$color-black: #000;
$color-button-first: #061e37;
$color_text: #b0bec5;
$color_green: #1de9b6;
$color_box_1: #80d8ff;
$color_box_2: #82b1ff;
$color_box_3: #b388ff;
$color_box_4: #ea80fc;
$color_desc: #78909c;

%button {
    min-height: 55px;
    min-width: 150px;
    border-radius: 5px;
    font-size: 15px;
}
%content {
    width: 25%;
    height: 100%;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
%hide{
    display: block; 
    -webkit-animation:fade ease-in 0.5s; 
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s; 
}



* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.conteiner{
    margin: 0 auto;
}
a{
    text-decoration: none;
}

//header
.header{
    &__body{
        width: 100%;
        height: 750px;
        font-family: Arial, Helvetica, sans-serif;
        background: url(../image/back-header.png) 100% 100% no-repeat;
        background-size: auto auto;
        
    }
    &__back{
        min-width: 100%;
        min-height: 100%; 
        font-family: Arial, Helvetica, sans-serif;
        background: url(../image/header-2.png) 100% 100% no-repeat;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 45px;
    }
    &__link{
        color: $color-white;
        margin: 0 25px 0 25px;
        font-size: 15px;
        &:hover{
            color: $color-black;
            transition: 0.3s ease;
        }
    }
    &__logo{
        height: auto;
        width: 100%;
        max-width: 194px;
    }
    &__button{
        min-width: 78px;
        min-height: 23px;
        border: 1px solid $color-white;
        background-color: transparent;
        color: $color-white;
        font-size: 12px;
        &:hover{
            border: 1px solid $color-black;
            background-color: $color-white;
            color: $color-black;
        }
    }
    &__title{
        font-size: 55px;
        color: $color-white;
        font-weight: bolder;
        max-width: 470px;
        line-height: 65px;
    }
    &__text{
        font-size: 18px;
        color: $color-white;
        max-width: 560px;
        line-height: 33px;
        margin-top: 12px;
    }
    &__btn{
        @extend %button;
        background-color: $color-button-first;
        border: 1px solid $color-button-first;
        color: $color-white;
        margin-right: 15px;

        &:hover{
            background-color: $color-white;
            border: 1px solid $color-white;
            color: $color-button-first;
            transition: 0.3s ease;
        }
    }
    &__btn_white{
        @extend %button;
        background-color: $color-white;
        border: 1px solid $color-white;
        color: $color-button-first;
        margin-left: 15px;
        &:hover{
            background-color: $color-button-first;
            border: 1px solid $color-button-first;
            color: $color-white;
            transition: 0.3s ease;
        }
    }
    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 195px;
    }
    &__buttons{
        margin-top: 33px;
    }
    &__video{
        min-width: 598px;
        min-height: 318px;
        border: 1px solid $color-black;
        border-radius: 6px;
        background: url(../image/back-video.png) 100% 100% no-repeat;
        background-size: 100% 100%;
        margin-top: 10px;
    }
    &__ground{
        min-width: 100%;
        min-height: 100%;
        background: url(../image/video-2.png) 100% 100% no-repeat;
        background-size: 100% 100%;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__play{
        height: 60px;
        width: 60px;
        background-color: $color-button-first;
        border-radius: 5px;
        position: relative;
    }
    &__triagle{
        border: 8px solid transparent; 
        border-left: 12px solid $color-white;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -45%)
    }
    &__watch{
        font-size: 12px;
        color: $color-button-first;
        font-weight: bold;
        margin-top: 22px;
    }
}

//info
.info{
    &__body{
        min-width: 100%;
        min-height: 800px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: $color-button-first;
        font-size: 45px;
        text-align: center;
        font-weight: 500;
        margin-top: 97px;
    }
    &__subtitle{
        color: $color_text;
        font-size: 25px;
        text-align: center;
        font-weight: 500;
        margin-top: 14px;
    }
    &__text{
        color: $color_text;
        font-size: 15px;
        text-align: center;
        max-width: 540px;
        line-height: 20px;
        margin-top: 18px;
    }
    &__blocks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 102px;
    }
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 340px;
        margin: 0 40px 0 40px;
    }
    &__heading{
        color: $color-button-first;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin-top: 35px;
    }
    &__desc{
        color: $color_text;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
        margin-top: 12px;
    }
    &__button{
        @extend %button;
        background-color: $color_green;
        border: 1px solid $color_green;
        color: $color-white;
        margin-left: 15px;
        margin-top: 75px;
        &:hover{
            background-color: $color-white;
            border: 1px solid $color-white;
            color: $color_green;
            transition: 0.3s ease;
        }
    }
}

//boxs
.boxs{
    &__body{
        width: 100%;
        height: 150px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row;
    }
    &__content_left{
        @extend %content;
        background-color: $color_box_1;
    }
    &__content_center_left{
        @extend %content;
        background-color: $color_box_2;
    }
    &__content_center_right{
        @extend %content;
        background-color: $color_box_3;
    }
    &__content_right{
        @extend %content;
        background-color: $color_box_4;
    }
    &__image{
        margin: 0 25px 0 25px;
        width: 60px;
        height: 60px;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//service{
.service{
    &__body{
        max-width: 100%;
        min-height: 870px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: $color-button-first;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
        margin-top: 97px;
    }
    &__subtitle{
        color: $color_text;
        font-size: 15px;
        text-align: center;
        max-width: 540px;
        line-height: 23px;
        margin-top: 20px;
    }
    &__block{
        min-width: 800px;
        min-height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__triangle{
        border: 5px solid transparent; 
        border-top: 5px solid $color-button-first;
    }
    &__hide{
        max-width: 800px;
        min-height: 125px;  
        margin-top: 28px;
    }
    &__content{
        display: flex;
        flex-direction: row;
    }
    &__box{
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 25px;
        margin-top: 43px;
    }
    &__name{
        margin-left: 25px;
        color: $color-button-first;
        font-size: 15px;
        font-weight: bold;
    }
    &__hide__image{
        float: left;
        margin-right: 25px;
        width: 100%;
        height: auto;
        max-width: 250px;
    }
    &__hide__text{
        position: relative;
        top: 2px;
        line-height: 25px;
        font-size: 15px;
        color: $color-button-first;
    }
    &__hide__subtext{
        margin-top: 26px;
        line-height: 25px;
        font-size: 15px;
        color: $color-button-first;
    }
}


.hider {
    display: none;
}
.hider + label ~ div {
    display: none;
}
.hider:checked + label + div {
    @extend %hide
}
.hide {
    display: none;
}
.hide + label ~ div {
    display: none;
}
.hide:checked + label + div {
    @extend %hide
}
.hid {
    display: none;
}
.hid + label ~ div {
    display: none;
}
.hid:checked + label + div {
    @extend %hide
}
.hi {
    display: none;
}
.hi + label ~ div {
    display: none;
}
.hi:checked + label + div {
    @extend %hide
}
.h {
    display: none;
}
.h + label ~ div {
    display: none;
}
.h:checked + label + div {
    @extend %hide
}
@-moz-keyframes fade {
    from { 
        opacity: 0; }
    to { 
        opacity: 1 
    }
}
@-webkit-keyframes fade {
    from { 
        opacity: 0; }
    to { 
        opacity: 1 
    }
}
@keyframes fade {
    from { 
        opacity: 0; }
    to { 
        opacity: 1 
    }
}

//customer
.customer{
    &__body{
        width: 100%;
        height: 565px;
        font-family: Arial, Helvetica, sans-serif;
        background: url(../image/back-customer.png) 100% 100% no-repeat;
        background-size: auto auto;
    }
    &__back{
        min-width: 100%;
        min-height: 100%; 
        background: url(../image/header-2.png) 100% 100% no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__title{
        color: $color-white;
        font-size: 45px;
        width: 430px;
        line-height: 52px;
    }
    &__text{
        color: $color-white;
        font-size: 15px;
        width: 520px;
        margin-top: 12px;
        line-height: 25px;
    }
    &__button{
        @extend %button;
        background-color: $color-button-first;
        border: 1px solid $color-button-first;
        color: $color-white;
        margin-top: 204px;
        &:hover{
            background-color: $color-white;
            border: 1px solid $color-white;
            color: $color-button-first;
            transition: 0.3s ease;
        }
    }
    &__desc{
        position: relative;
        top: 130px;
    }
    &__box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        position: relative;
        top: 69px;
    }
    &__info{
        background-color: $color-white;
        padding: 32px;
    }
    &__image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 50px;
    }
    &__info{
        width: 650px;
        height: 160px;
        border-radius: 5px;
    }
    &__name{
        color: $color-button-first;
        font-size: 18px;
        font-weight: bold;
    }
    &__description{
        color: $color_desc;
        font-style: italic;
        font-size: 15px;
        line-height: 23px;
        margin-top: 13px;
    }
    &__bottom {
    margin-top: 6%;
    margin-left: 57%;
    border: solid $color-white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    }
    &__top{
    position: relative;
    top: 8%;
    margin-left: 56%;
    border: solid $color-white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    }
}

//team
.team{
    &__body{
        width: 100%;
        height: 760px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        font-size: 45px;
        color: $color-button-first;
        font-weight: bold;
        text-align: center;
        margin-top: 95px;
    }
    &__subtitle{
        font-size: 15px;
        color: $color_text;
        text-align: center;
        width: 560px;
        line-height: 24px;
        margin-top: 18px;
    }
    &__photo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
    }
    &__side{
        height: 100px;
        max-width: 100px;
        border-radius: 50%;
        margin: 0 25px 0 25px;
    }
    &__center{
        height: 180px;
        max-width: 180px;
        border-radius: 50%;
        margin: 0 25px 0 25px;
        border: $color-white solid 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    &__name{
        font-size: 18px;
        color: $color-button-first;
        font-weight: bold;
        text-align: center;
        margin-top: 58px;
    }
    &__desc{
        font-size: 15px;
        color: $color_text;
        text-align: center;
        width: 630px;
        line-height: 24px;
        margin-top: 17px;
    }
    .icon{
        margin: 0 13px 0 13px;
    }
    &__social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 25px;
    }
}
